*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    box-shadow: 10px 5px 5px rgb(146, 136, 136) ;
    width: 40%;
    height: 300px;
}
.calculator input {
    width: 100%;
    padding: 20px;
    text-align: right;
}
#operator {
    background-color: rgb(201, 162, 90);
}
.calculator button {
    color: white;
    border: white solid 1px;
    background-color: grey;
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 81%;
}
button:hover {
    cursor: pointer;
}